<h2>Reset Password</h2>
<p>If you requestsed to reset your password you can use the following link to do so:</p>
<p><a href={{url}}>{{url}}</a></p>
<br>
<p>This link will remain active for 24 hours.</p>